body{
	min-width:320px;
	overflow:hidden;
	overflow-y:scroll;
}

h1{
	font-family:'SFShaiFontaiDistressedRegular';
	font-size:4em !important;
	text-align:center;
	margin:0;
	color:#000;
}

div.ui-header{
	background-image:none;
	background-color:#FFF;
	border:none;
	-moz-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
}

#beerIndex{
	list-style-type:none;
	width:100%;
	background-color:#FFF;
}

#beerIndex li{
	display:inline-block;
	width:25%;
	margin-left: 5%;
	margin-bottom: 20px;
	vertical-align:top;
}

#beerIndex li img{
	margin-top:10px; 
	margin-left:25%;
	margin-right:25%;
	width:50%;
	height:auto;
}

#beerIndex li p{
	font-family:'ImpactLabelRegular';
	font-size:1.7em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:0;
	margin-bottom:5px;
}

.beer{
	width:100%;
	height:100%;
}

.beer:active  { color:#000; }
.beer:visited { color:#000; }

.beerPresentation{
	text-align:center;
}

.beerPresentation p{
	font-family:'ImpactLabelRegular';
	font-size:3em;
	margin-top:0px;
	margin-bottom:5px;
}

.beerPresentation section{
	margin-top:20px;
}

.beerPresentation input{
	margin-top:10px;
	font-family:'SFShaiFontaiExtendedRegular';
	font-size:1.8em;
}

.beerPresentation label{
	margin-top:10px;
	font-family:'SFShaiFontaiExtendedRegular';
	font-size:1.8em;
	border:0;
}

.beerPresentation div{
	display:inline-block;
	vertical-align:middle;
	background-color:#FFF;
}

#drinking{
	font-family:'ImpactLabelRegular';
	margin-left:20px;
}

#presentation{
	background-image=none;
	background-color=#FFF;
}

.flippedLeft{
	margin-bottom:50px !important;
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* IE 9 */
	-moz-transform:rotate(-7deg); /* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari and Chrome */
	-o-transform:rotate(-7deg); /* Opera */
}

@font-face {
    font-family: 'SFShaiFontaiRegular';
    src: url('../font/Shaifont/SF_Shai_Fontai-webfont.eot');
    src: url('../font/Shaifont/SF_Shai_Fontai-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Shaifont/SF_Shai_Fontai-webfont.woff') format('woff'),
         url('../font/Shaifont/SF_Shai_Fontai-webfont.ttf') format('truetype'),
         url('../font/Shaifont/SF_Shai_Fontai-webfont.svg#SFShaiFontaiRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFShaiFontaiExtendedRegular';
    src: url('../font/Shaifont/SF_Shai_Fontai_Extended-webfont.eot');
    src: url('../font/Shaifont/SF_Shai_Fontai_Extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Shaifont/SF_Shai_Fontai_Extended-webfont.woff') format('woff'),
         url('../font/Shaifont/SF_Shai_Fontai_Extended-webfont.ttf') format('truetype'),
         url('../font/Shaifont/SF_Shai_Fontai_Extended-webfont.svg#SFShaiFontaiExtendedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFShaiFontaiDistressedRegular';
    src: url('../font/Shaifont/SF_Shai_Fontai_Distressed-webfont.eot');
    src: url('../font/Shaifont/SF_Shai_Fontai_Distressed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Shaifont/SF_Shai_Fontai_Distressed-webfont.woff') format('woff'),
         url('../font/Shaifont/SF_Shai_Fontai_Distressed-webfont.ttf') format('truetype'),
         url('../font/Shaifont/SF_Shai_Fontai_Distressed-webfont.svg#SFShaiFontaiDistressedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('../font/labelfont/Impact_Label-webfont.eot');
    src: url('../font/labelfont/Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/labelfont/Impact_Label-webfont.woff') format('woff'),
         url('../font/labelfont/Impact_Label-webfont.ttf') format('truetype'),
         url('../font/labelfont/Impact_Label-webfont.svg#ImpactLabelRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ImpactLabelReversedRegular';
    src: url('../font/labelfont/Impact_Label_Reversed-webfont.eot');
    src: url('../font/labelfont/Impact_Label_Reversed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/labelfont/Impact_Label_Reversed-webfont.woff') format('woff'),
         url('../font/labelfont/Impact_Label_Reversed-webfont.ttf') format('truetype'),
         url('../font/labelfont/Impact_Label_Reversed-webfont.svg#ImpactLabelReversedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello-36a4c8a8/font/fontello.eot");
  src: url("../font/fontello-36a4c8a8/font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello-36a4c8a8/font/fontello.woff") format('woff'), url("../font/fontello-36a4c8a8/font/fontello.ttf") format('truetype'), url("../font/fontello-36a4c8a8/font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* Uncomment for 3D effect */
 text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);sss
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-info:before { content: '\2139'; } /* '?' */
.icon-layout:before { content: '\268f'; font-size:300%; color:#000; position:absolute;} /* '?' */
.icon-cancel-circled:before { content: '\2716'; } /* '?' */
.icon-plus-circled:before { content: '\2795'; } /* '?' */
.icon-info-circled:before { content: '\e705'; } /* '?' */
.icon-left-open-big:before { content: '\e765'; font-size:400%; } /* '?' */
.icon-right-open-big:before { content: '\e766'; font-size:400%; } /* '?' */
.icon-beer:before { content: '\e808'; } /* '?' */
